<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge Chapter 5</title>
</head>
<body>

  <h2>Challenge Chapter 5</h2>
  <a href="http://localhost:3000/home">Home</a> |
  <a href="http://localhost:3000/chapter3">Challenge Chapter 3</a> |
  <a href="http://localhost:3000/chapter4">Challenge Chapter 4</a> |
  <a href="http://localhost:3000/page-not-found">Another Route</a>
  
</body>
</html>