body{
  background: url('/assets/images/top-score-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
  color: antiquewhite;
}

.score{
  font-size: 58px;
}