<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="icon"
      sizes="30x30"
      href="asset\img\icon.png"
    />
    <title>ABOUT THE GAME</title>
    <link rel="stylesheet" href="asset\css\bootstrap.min.css">
    <link rel="stylesheet" href="asset\css\style.css">
    
</head>
<body>
  <style>body {background-image: url(the-games-bg.jpg);background-size: cover;}</style>
    <nav class="navbar navbar-expand-lg" style="background-color: rgba(0, 0, 0, 0.705);">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
          <img src="asset\img\icon.png" style="max-width: 40px;" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About Me</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Login</a>
                  </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <p class="h1" style="color: silver; text-align: center; margin-top: 10%;"> Whats so special? </p>
      <p class="h4" style="color: silver; text-align: center; margin-top: 20px">THE GAMES!</p>

      <img src="asset\img\rockpaperstrategy-1600.jpg" alt="" height="500px" style="margin-top: 30px; align-self: center;">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>